# pip install -r requirements.txt

# Base ----------------------------------------
numpy>=1.18.5,<1.24.0
opencv-python>=4.1.2
PyYAML>=5.3.1
scipy>=1.4.1
onnxruntime>=1.8.0
pandas>=1.1.4

# Clustering ----------------------------------
hdbscan


