<launch>

  <arg name="RvizConf" default="$(find map)/rviz/see_map.rviz"/>

    <!-- Open Rviz -->
  <node name="rviz" pkg="rviz" type="rviz"
    args="-d $(arg RvizConf)"
    output="screen"/>


  <arg name="rosbag_path" default="$(find map)/mapping_stats_11_30_2021_18_55.bag"/>
  <node pkg="rosbag" type="play" name="player" output="screen" args="-d 5 $(arg rosbag_path)" required = "false"/>


</launch>