<launch>

  <arg name="camera_calib_path" default="$(find object_detection)/cfg/smb264_camera_model.yaml"/>

  <arg name="optical_frame_name" default='blackfly_right_optical_link'/>
  <arg name="input_camera_name" default="/versavis/cam0" />
  <!-- <arg name="input_camera_name" default="/mono/cam0/" /> -->
  <arg name="lidar_topic" default='/rslidar_points'/>

  <arg name="object_detection_classes" default="[0]"/>

  <!--Debayer the image-->
  <node pkg="image_proc" type="image_proc" name="debayer" ns="$(arg input_camera_name)/" />
  
  <!--Undistored the debayered image-->
  <!--https://github.com/ethz-asl/image_undistort-->
  <node name="image_undistort_node" pkg="image_undistort" type="image_undistort_node" output="screen" clear_params="true">
    <param name="input_camera_namespace" value="versavis"/>      
    <param name="input_camera_info_from_ros_params" value = "true"/>    
    <param name="scale" value="1.0"/>
    <param name="output_camera_info_source" value="auto_generated"/>   <!--auto_generated,match_input, this maybe can be experimented with--> 
    <param name="publish_tf" value="false"/>
    <param name="process_every_nth_frame" value="4"/>
    <param name="output_frame" value="$(arg optical_frame_name)"/>
    <rosparam file="$(arg camera_calib_path)"/>
    <remap from="input/image" to="$(arg input_camera_name)/image_color"/>
    <remap from="output/image" to="$(arg input_camera_name)/undistorted"/>
  </node>

  <!-- i think my issues may arise from loading the info from parameters. -->

  <!--Object detection node-->
  <node name="objectify" pkg="object_detection" type="node.py" output="screen">

    <!--Input related-->
    <param name="camera_topic" value='$(arg input_camera_name)/undistorted'/>
    <param name="camera_info_topic" value='$(arg input_camera_name)/camera_info'/>
    <param name="lidar_topic" value='$(arg lidar_topic)'/>

    <!--Output related-->
    <param name="object_detection_topic" value='/objects'/>
    <param name="verbose" value='True'/>

    <!--Camera Lidar synchronization related-->
    <param name="camera_lidar_sync_queue_size" value="10"/>
    <param name="camera_lidar_sync_slop" value="0.1"/>

    <!--Config files-->
    <param name="config_dir" value='$(find object_detection)/cfg/'/>

    <!--Point Projector related-->
    <param name="project_config" value='projector_config_SMB264.yaml'/>

    <!--Object detection related-->
    <param name="model" value='yoLov5l6'/>
    <param name="device" value='cpu'/>
    <param name="confident" value='0.4'/>
    <param name="iou" value='0.1'/>
    <rosparam param="classes" subst_value="True">$(arg object_detection_classes)</rosparam>
    <param name="multiple_instance" value='False'/>

    <!--Object localization related-->
    <param name="model_method" value='hdbscan'/>
    <param name="ground_percentage" value='25'/>
    <param name="bb_contract_percentage" value='10.0'/>
  </node>

  <!-- <include file="$(find object_visualization)/launch/object_visualization.launch">
    <arg name="object_topic" value="/objects"/>
    <arg name="visualize_all" value='False'/>
    <arg name="only_BB" value='False'/>
  </include> -->

</launch>