<launch>
  <include file="$(find smb_description)/launch/debug.launch">
    <arg name="visualize" value="1"/>
  </include>

  <arg name="input_camera_name" default="/versavis/cam0" />
  <arg name="scale" default="1.0" />

  <node pkg="image_proc" type="image_proc" name="debayer" ns="$(arg input_camera_name)/" />

  <arg name="calib_path" default="$(find image_undistort)/cfg/input_config4.yaml"/>
  <node name="image_undistort_node" pkg="image_undistort" type="image_undistort_node" output="screen" clear_params="true">
    <param name="process_image" value="true"/> 
    <param name="input_camera_namespace" value="versavis"/>      
    <param name="input_camera_info_from_ros_params" value = "true"/>    
    <param name="scale" value="$(arg scale)"/>
    <param name="output_camera_info_source" value="auto_generated"/>   <!--auto_generated,match_input--> 
    <param name="publish_tf" value="false"/>
    <rosparam file="$(arg calib_path)"/>
    <remap from="input/image" to="$(arg input_camera_name)/image_color"/>
    <remap from="output/image" to="$(arg input_camera_name)/undistorted"/>
    <remap from="output/camera_info" to="$(arg input_camera_name)/undistorted/info"/>
  </node>

  <include file="$(find map)/launch/object_det_tag.launch">
    <arg name="tag_file" value="$(find apriltag_ros)/config/tag5.yaml"/>
  </include>

  <node name="objectify" pkg="object_detection" type="node.py" output="screen">
    <param name="camera_topic" value='$(arg input_camera_name)/undistorted'/>
    <param name="camera_info_topic" value='$(arg input_camera_name)/camera_info'/>
    <param name="lidar_topic" value='/rslidar_points'/>
    <param name="camera_info_callback_sleep" value="20.0"/>
    <param name="visualize" value='true'/>
    <param name="visualize_all_points" value='false'/>
    <param name="out_image_pub_topic" value='$(arg input_camera_name)/objects'/>

    <!--Object detection related-->
    <param name="architecture" value='yolo'/>
    <param name="model" value='yolov5n'/>
    <param name="device" value='cpu'/>
    <param name="confident" value='0.1'/>
    <param name="iou" value='0.001'/>
    <param name="classes" value='[1]'/>
  </node>
  
  <arg name="rosbag_path" default="/home/oilter/Courses/SemesterProject/RosBags/Objects/2021-11-11-16-03-38_bike_5_smb.bag"/>
  <node pkg="rosbag" type="play" name="player" output="screen" args="-d 5 -r 0.5 $(arg rosbag_path)" required = "false"/>



</launch>