<launch>

  <arg name="rosbag_name" default="bike_1_6_smb"/>
  <arg name="rosbag_path" default="/media/oilter/D4561E4E561E31AA/SemesterProject/2021-12-06/$(arg rosbag_name).bag"/>

  <include file="$(find smb_description)/launch/debug.launch">
    <arg name="visualize" value="1"/>
  </include>

  <arg name="record_data" default="True"/>

  <arg name="validate" default="True"/>
  <arg name="input_camera_name" default="/versavis/cam0" />
  <arg name="lidar_topic" default='/rslidar_points'/>
  <arg name="optical_frame_name" default='blackfly_right_optical_link'/>

  <!--Debayer the image-->
  <node pkg="image_proc" type="image_proc" name="debayer" ns="$(arg input_camera_name)/" />

  <!--Undistored the debayered image-->
  <arg name="calib_path" default="$(find object_detection)/cfg/smb264_camera_model.yaml"/>
  <node name="image_undistort_node" pkg="image_undistort" type="image_undistort_node" output="screen" clear_params="true">
    <param name="process_image" value="true"/> 
    <param name="input_camera_namespace" value="versavis"/>      
    <param name="input_camera_info_from_ros_params" value = "true"/>    
    <param name="scale" value="1.0"/>
    <param name="output_camera_info_source" value="auto_generated"/>   <!--auto_generated,match_input--> 
    <param name="publish_tf" value="false"/>
    <param name="output_frame" value="$(arg optical_frame_name)"/>
    <rosparam file="$(arg calib_path)"/>
    <remap from="input/image" to="$(arg input_camera_name)/image_color"/>
    <remap from="output/image" to="$(arg input_camera_name)/undistorted"/>
    <remap from="output/camera_info" to="$(arg input_camera_name)/undistorted/info"/>
  </node>

  <node pkg="rosbag" type="play" name="player" output="screen" args="-d 5 -s 0 -r 0.4 $(arg rosbag_path)" required = "false"/>

</launch>